button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
}

.go-simulator {
  background-color: #212121;
  color: white;
  border: 1px solid #000;
  margin: 40px 0px;
  padding: 15px;
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.2s ease;
  &:hover {
    background-color: white;
    color: black;
  }
}
