@use "./tailwind.scss";

:root {
  --font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: #000;
  color: #fff;
  line-height: 1.6;
}
